/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  position: relative;
  width: 400px;
  padding: 0px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-header {
  position: relative;
  background: #8E8E8E;
  padding: 8px 16px;
}

.modal-header h3 {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: 'roboot', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
}

/* Close Button */
.modal-header .close-button {
  position: absolute;
  top: 6px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
}

.close-button:hover {
  color: #000;
}

.modal-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.gst-info {
  text-align: left;
  border: 1px solid #EEEEEE;
  border-radius: 12px;
}

.gst-info div:first-child,
.gst-info div:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gst-info div:first-child{
  padding: 12px;
}

.gst-info div:first-child p {
  font-size: 12px;
  font-family: 'roboot', sans-serif;
  color: black;
}

.gst-info div:first-child img {
  width: 16px;
  height: 16px;
}


.gst-info div:last-child {
  background: linear-gradient(45deg, #E5F9FF, #F3FFE0);
  padding: 12px;
}

.gst-info div:last-child img {
  width: 24px;
  height: 23.26px;
}



.gst-info div:last-child p {
  font-size: 15px;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
}


.gst-benifits {
  background-color: #FAFAFA;
  border-radius: 12px;
}

.gst-benifits-header {
  background: linear-gradient(45deg, #D8EAFF, #E9F4FF);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.gst-benifits-header h2 {
  font-size: 15px;
  font-weight: bold;
  color: #77AA00;
}

.gst-benifits-header p {
  font-size: 12px;
  font-family: 'roboto', sans-serif;
}

.gst-benifits-top {
  padding: 30px 0px 20px;
  position: relative;
}

.gst-benifits-top::after {
  position: absolute;
  content: "";
  background-image: url('../../assets/Line-vertical.svg');
  left: 50%;
  bottom: -31px;
  height: 40px;
  width: 2px;
}

.gst-benifits-top h2 {
  font-size: 15px;
  font-weight: bold;
  padding: 0px 0px 20px;
}

.gst-benifits-top p {
  font-size: 13px;
  font-weight: 500;
}

.gst-benifits-top h3 {
  font-size: 26px;
  font-weight: bold;
  padding: 10px 0px;
}

.gst-benifits-top p:last-child {
  color: darkgrey;
  font-size: 11px;

}

.gst-benifits-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 32px;
}

.gst-benifits-middle-left,
.gst-benifits-middle-right {
  border-radius: 12px;
  border: 2px solid #CDCDCD;
  width: 50%;
  padding: 10px 0px;
  position: relative;
}

.gst-benifits-middle-left::after {
  position: absolute;
  content: "";
  background-image: url(/src/assets/left-line.png);
  right: -13%;
  top: 26%;
  height: 19px;
  width: 19px;
}


.gst-benifits-middle-right::before {
  position: absolute;
  content: "";
  background-image: url(/src/assets/line-right.png);
  left: -11%;
  top: 26%;
  height: 19px;
  width: 19px;
}

.gst-benifits-middle-left h3 {
  color: #77AA00;
}

.gst-benifits-middle-right h3 {
  color: red;
}

.gst-benifits-middle-left p,
.gst-benifits-middle-right p {
  font-size: 11px;
}


.gst-benifits-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.gst-benifits-bottom-left {
  text-align: left;
  border: 1px solid #00BF36;
  background-color: #e7fff1;
  border-radius: 12px;
  padding: 16px;
  position: relative;
}



.gst-benifits-bottom-left h3 {
  color: #77AA00;

}

.gst-benifits-bottom-left p span {
  font-size: 10px;
}


.gst-benifits-bottom-right h3 {
  font-size: 12px;
  font-weight: 500;
}


.gst-benifits-bottom-right h1 {
  font-size: 25px;
  color: #77AA00;

}

.gst-benifits-bottom-right p {
  font-size: 10px;
  color: darkgrey;
}



@media(max-width:576px){
  .modal-overlay{
    display: flex;
    align-items: end;
  }

  .modal-content {
    border-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

  .modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modal-header h3{
  text-align: center;
}

.gst-benifits-header {
  flex-direction: column;
}

.gst-benifits-top h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 12px;
}

.gst-benifits-top h3 {
  font-size: 24px;
  padding: 6px 0px;
}
.gst-benifits-middle-left p, .gst-benifits-middle-right p {
  font-size: 10px;
}
.gst-benifits-middle {
  padding: 0 12px;
}

.gst-benifits-bottom {
  flex-direction: column;
  gap: 20px;
}
.gst-benifits-bottom-left {
  width: 100%;
}

.gst-benifits-top::after {
  bottom: -14px;
  height: 30px;
  width: 2px;
}

}


@media (min-width:576px){
  .gst-benifits-bottom-left::after {
    position: absolute;
    content: "";
    background-image: url(/src/assets/left-arrow.png);
    right: -11%;
    top: 50%;
    height: 6px;
    width: 24px;
    background-size: auto;
  }

  
}